openapi: '3.0.2'
info:
  title: API Title
  version: '1.0'
servers:
  - url: http://api.piglobalexchanges.com
paths:
  /invite/buy.do:
    post:
      operationId: 'inviteBuy'
      description: '購買邀請碼'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                count:
                  type: number
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /invite/home.do:
    post:
      operationId: 'inviteHome'
      description: '獲取邀請碼頁面'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteHomeResponse'

  /depositeWithdraw/getInfo.do:
    post:
      operationId: 'depositWithdrawGetInfo'
      description: '获取充币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositWithdrawGetInfoResponse'

  /home/my.do:
    post:
      operationId: 'homeMy'
      description: '我的頁面信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeMyResponse'

  /user/info.do:
    post:
      operationId: 'userInfo'
      description: '獲取我的頁面信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'

components:
  schemas:
    DepositWithdrawGetInfoResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                balance:
                  type: string
                infos:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                      fee:
                        type: string
                      image:
                        type: string
                      type:
                        type: string

    InviteHomeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                inviteCount:
                  type: string
                teamCount:
                  type: string
                inviteCodePrice:
                  type: string
                sumAmount:
                  type: string
                inviteList:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                      inviteCode:
                        type: string
                      inviteUserId:
                        type: string
                      status:
                        type: string
                      userId:
                        type: string
    HomeMyResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                helpCenterUrl:
                  type: string
                msgCount:
                  type: string
                shareUrl:
                  type: string

    UserInfoResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                adminType:
                  type: string
                agencyCode:
                  type: string
                countryCode:
                  type: string
                createTime:
                  type: string
                headUrl:
                  type: string
                idCertify:
                  type: string
                inviteUid:
                  type: string
                isLock:
                  type: string
                isMark:
                  type: string
                isStop:
                  type: string
                isVip:
                  type: string
                lastIp:
                  type: string
                lastLogin:
                  type: string
                memberCode:
                  type: string
                passErrNum:
                  type: string
                phone:
                  type: string
                regPlatform:
                  type: string
                sex:
                  type: string
                synSign:
                  type: string
                synVersion:
                  type: string
                userId:
                  type: string
                userName:
                  type: string
                userPass:
                  type: string
                verifySql:
                  type: string
                verifySqlTime:
                  type: string
                version:
                  type: string

    CommonResponse:
      type: object
      properties:
        code:
          type: integer
        data:
          type: object
        msg:
          type: string
        success:
          type: boolean
      required:
        - code
        - msg
        - success
