openapi: '3.0.2'
info:
  title: API Title
  version: '1.0'
servers:
  - url: http://api.piglobalexchanges.com
paths:
  /otc/certification/applyForCancellation.do:
    post:
      operationId: 'otcCertificationApplyForCancellation'
      description: '获取广告详情信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/certification/authenticate.do:
    post:
      operationId: 'otcCertificationAuthenticate'
      description: '获取广告详情信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/delMyAd.do:
    post:
      operationId: 'otcDelMyAd'
      description: '获取广告详情信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/getMyAdInfo.do:
    post:
      operationId: 'otcGetMyAdInfo'
      description: '获取广告详情信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/AdItem'

  /otc/myad/setOnline.do:
    post:
      operationId: 'otcSetOnline'
      description: '设置上下架'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
                online:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/updateMyAd.do:
    post:
      operationId: 'otcUpdateMyAd'
      description: '商家发布广告'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
                amount:
                  type: string
                buySell:
                  type: string
                content:
                  type: string
                maxCny:
                  type: string
                minCny:
                  type: string
                payWay:
                  type: string
                price:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
  /otc/myad/addMyAd.do:
    post:
      operationId: 'otcAddMyAd'
      description: '商家发布广告'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: string
                buySell:
                  type: string
                content:
                  type: string
                maxCny:
                  type: string
                minCny:
                  type: string
                payWay:
                  type: string
                price:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/getAdPrice.do:
    post:
      operationId: 'otcGetAdPrice'
      description: '获取当前最大价格或最小价格'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buySell:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          price:
                            type: string

  /otc/myad/findMyAdList.do:
    post:
      operationId: 'otcFindMyAdList'
      description: '获取我的广告列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          myAdList:
                            type: array
                            items:
                              $ref: '#/components/schemas/AdItem'

  /otc/certification/getCertificationInfo.do:
    post:
      operationId: 'otcGetCertificationInfo'
      description: '获取商家认证需要信息，包括缴纳保证金'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          otcAdUrl:
                            type: string
                          otcCertification:
                            $ref: '#/components/schemas/Certification'

  /otc/payment/delete.do:
    post:
      operationId: 'otcPaymentDelete'
      description: '刪除收款方式'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                paymentId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/payment/savePayment.do:
    post:
      operationId: 'otcPaymentSave'
      description: '添加/修改收款方式'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bankName:
                  type: string
                paymentId:
                  type: string
                qrCodeUrl:
                  type: string
                receiptName:
                  type: string
                receiptNo:
                  type: string
                receiptType:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/mainad/submitAppeal.do:
    post:
      operationId: 'otcSubmitAppeal'
      description: '出售者权限操作【出售】第2步：点击“申诉”按钮'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                image1Url:
                  type: string
                image2Url:
                  type: string
                message:
                  type: string
                orderId:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/mainad/getInitAppealList.do:
    post:
      operationId: 'otcGetInitAppealList'
      description: '获取申诉理由列表'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          type: string

  /otc/mainad/toMarkPayOrderSuccess.do:
    post:
      operationId: 'otcToMarkPayOrderSuccess'
      description: '购买者权限操作【付款】第2步：点击“我已付款成功”按钮'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToPayOrderResponse'

  /otc/mainad/toPayOrder.do:
    post:
      operationId: 'otcToPayOrder'
      description: '购买者权限操作【付款】第1步：点击“去付款”按钮进入到付款页面'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
                showPaymentId:
                  type: string
                showUserId:
                  type: string
              required:
                - orderId
                - showPaymentId
                - showUserId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToPayOrderResponse'

  /otc/mainad/cancelOrder.do:
    post:
      operationId: 'otcCancelOrder'
      description: '取消订单'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /otc/mainad/getOrderDetail.do:
    post:
      operationId: 'otcGetOrderDetail'
      description: '我的订单记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcGetOrderDetailResponse'

  /otc/mainad/findOrderList.do:
    post:
      operationId: 'otcFindOrderList'
      description: '我的订单记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buySell:
                  type: string
                state:
                  type: string
                pageNo:
                  type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcFindOrderListResponse'

  /otc/payment/findMyPaymentList.do:
    post:
      operationId: 'otcFindMyPaymentList'
      description: '获取用户的收款方式列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcFindMyPaymentListResponse'

  /message/find.do:
    post:
      operationId: 'messageFind'
      description: '获取我的消息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                pageNo:
                  type: string
              required:
                - pageNo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /otc/mainad/createOrder.do:
    post:
      operationId: 'otcCreateOrder'
      description: '下单交易'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
                amount:
                  type: string
                buySell:
                  type: string
                price:
                  type: string
                showReceiptType:
                  type: string
              required:
                - adId
                - amount
                - buySell
                - price
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          orderId:
                            type: string

  /otc/mainad/findAdList.do:
    post:
      operationId: 'otcFindAdList'
      description: '市场广告列表（购买，出售）'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buySell:
                  type: string
                currencyType:
                  type: string
                filterCny:
                  type: string
                filterPayWay:
                  type: string
                pageNo:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcFindAdListResponse'

  /otc/mainad/config.do:
    post:
      operationId: 'otcConfig'
      description: '获取货币类型列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcConfigResponse'

  /identity/get.do:
    post:
      operationId: 'identityGet'
      description: '获取实名认证信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityAuthResponse'

  /identity/submit.do:
    post:
      operationId: 'identitySubmit'
      description: '提交实名认证信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                backImgUrl:
                  type: string
                certNo:
                  type: string
                frontImgUrl:
                  type: string
                name:
                  type: string
              required:
                - backImgUrl
                - certNo
                - frontImgUrl
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/querySum.do:
    post:
      operationId: 'proOrderQuerySum'
      description: '获取交易的总笔数和产生的代币数'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderQuerySumResponse'

  /pro/order/queryList.do:
    post:
      operationId: 'proOrderQueryList'
      description: '查询交易记录（只适用数字货币记录、股指期货记录）'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
                buySell:
                  type: string
                isDone:
                  type: string
                pageNo:
                  type: string
                type:
                  type: string
                symbol:
                  type: string
                orderState:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderQueryListResponse'

  /user/security/checkIdentity.do:
    post:
      operationId: 'userSecurityCheckIdentity'
      description: '身份验证'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dragImgKey:
                  type: string
                locationx:
                  type: number
                phone:
                  type: string
                smsCode:
                  type: string
              required:
                - dragImgKey
                - locationx
                - phone
                - smsCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /sms/get.do:
    post:
      operationId: 'smsGet'
      description: '获取手机验证码'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                countryCode:
                  type: string
                dragImgKey:
                  type: string
                locationx:
                  type: number
                sendAddr:
                  type: string
                type:
                  type: number
              required:
                - countryCode
                - dragImgKey
                - locationx
                - sendAddr
                - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /account/queryTransferList.do:
    post:
      operationId: 'accountQueryTransferList'
      description: '获取转账记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                pageNo:
                  type: number
                fromAccountType:
                  type: string
                toAccountType:
                  type: string
                userId:
                  type: string
              required:
                - pageNo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTransferListResponse'

  /account/transfer.do:
    post:
      operationId: 'accountTransfer'
      description: '划转，从一个账户转到另外一个账户'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: string
                fromAccountType:
                  type: string
                toAccountType:
                  type: string
                userId:
                  type: string
              required:
                - amount
                - fromAccountType
                - toAccountType
                - userId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutHoldAmountResponse'

  /account/outHoldAmount.do:
    post:
      operationId: 'accountOutHoldAmount'
      description: '获取我的账户可用数量'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
              required:
                - accountType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutHoldAmountResponse'

  /account/listAccountType.do:
    post:
      operationId: 'accountListAccountType'
      description: '获取所有账户类型'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTypeResponse'

  /user/security/updatePhone.do:
    post:
      operationId: 'userSecurityUpdatePhone'
      description: '修改手机'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                code:
                  type: string
                phone:
                  type: string
              required:
                - code
                - phone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /depositeWithdraw/localSubmit.do:
    post:
      operationId: 'depositWithdrawLocalSubmit'
      description: '充提币申请提交'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                amount:
                  type: string
                chainType:
                  type: string
                image:
                  type: string
                inOut:
                  type: string
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /invite/buy.do:
    post:
      operationId: 'inviteBuy'
      description: '購買邀請碼'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                count:
                  type: number
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /invite/home.do:
    post:
      operationId: 'inviteHome'
      description: '獲取邀請碼頁面'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteHomeResponse'

  /depositeWithdraw/list.do:
    post:
      operationId: 'depositList'
      description: '获取提币充币/申购相关记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                inOut:
                  type: string
                  example: '充币 1， 提币 -1'
                pageNo:
                  type: number
                  default: 1
                platform:
                  type: string
                  example: 'android, ios, web'
                type:
                  type: number
                  default: 1
                  example: '1 充币提币，2 获取申购相关记录'
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositListResponse'

  /depositeWithdraw/getInfo.do:
    post:
      operationId: 'depositWithdrawGetInfo'
      description: '获取充币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositWithdrawGetInfoResponse'

  /home/my.do:
    post:
      operationId: 'homeMy'
      description: '我的頁面信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeMyResponse'

  /user/info.do:
    post:
      operationId: 'userInfo'
      description: '獲取我的頁面信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'

components:
  schemas:
    AdItem:
      type: object
      properties:
        adId:
          type: string
        amount:
          type: string
        buySell:
          type: string
        isOnline:
          type: string
        isPayAli:
          type: string
        isPayBank:
          type: string
        isPayWx:
          type: string
        limitRate:
          type: string
        maxCny:
          type: string
        minCny:
          type: string
        orderNum:
          type: string
        payWay:
          type: string
        price:
          type: string
        timeLimit:
          type: string
        userId:
          type: string
        userLogo:
          type: string
        userName:
          type: string

    Certification:
      type: object
      properties:
        certNo:
          type: string
        createTime:
          type: string
        idCertify:
          type: string
        limitRate:
          type: string
        orderNum:
          type: string
        realName:
          type: string
        reason:
          type: string
        securityDeposit:
          type: string
        state:
          type: string

    ToPayOrderResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                chatStaff:
                  $ref: '#/components/schemas/ChatStaff'
                orderToPayResult:
                  $ref: '#/components/schemas/OrderToPayResult'

    OrderToPayResult:
      type: object
      properties:
        alertTip:
          type: string
        amount:
          type: string
        bankName:
          type: string
        chatTopic:
          type: string
        createTime:
          type: string
        currencySign:
          type: string
        orderId:
          type: string
        paySecondTime:
          type: string
        payTip:
          type: string
        price:
          type: string
        receiptLogo:
          type: string
        receiptName:
          type: string
        receiptNo:
          type: string
        receiptType:
          type: string
        receiptTypeValue:
          type: string
        showRealName:
          type: string
        showUserId:
          type: string
        showUserLogo:
          type: string
        showUserName:
          type: string
        showUserTip:
          type: string
        state:
          type: string
        stateValue:
          type: string
        tolPrice:
          type: string

    OtcGetOrderDetailResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                chatStaff:
                  $ref: '#/components/schemas/ChatStaff'
                order:
                  $ref: '#/components/schemas/Order'

    ChatStaff:
      type: object
      properties:
        chatTopic:
          type: string
        headUrl:
          type: string
        type:
          type: string
        userId:
          type: string
        userName:
          type: string

    Order:
      type: object
      properties:
        adId:
          type: string
        alertTip:
          type: string
        amount:
          type: string
        buySell:
          type: string
        buySellValue:
          type: string
        buyUserId:
          type: string
        chatTopic:
          type: string
        createTime:
          type: string
        currencySign:
          type: string
        orderId:
          type: string
        paySecondTime:
          type: string
        price:
          type: string
        receiptName:
          type: string
        sellUserId:
          type: string
        showPayWay:
          type: string
        showRealName:
          type: string
        showUserId:
          type: string
        showUserLogo:
          type: string
        showUserName:
          type: string
        state:
          type: string
        stateTip:
          type: string
        stateValue:
          type: string
        tolPrice:
          type: string

    OtcFindOrderListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/OtcOrderListItem'

    OtcOrderListItem:
      type: object
      properties:
        adId:
          type: string
        amount:
          type: string
        appealUserId:
          type: string
        buyAgencyCode:
          type: string
        buyBankName:
          type: string
        buyMemberCode:
          type: string
        buyReceiptName:
          type: string
        buyReceiptNo:
          type: string
        buySell:
          type: string
        buySellValue:
          type: string
        buyUserId:
          type: string
        chatTopic:
          type: string
        createTime:
          type: string
        currencySign:
          type: string
        doneTime:
          type: string
        expireTime:
          type: string
        isAdSell:
          type: string
        orderId:
          type: string
        price:
          type: string
        sellAgencyCode:
          type: string
        sellBankName:
          type: string
        sellMemberCode:
          type: string
        sellPayWay:
          type: string
        sellReceiptName:
          type: string
        sellReceiptNo:
          type: string
        sellUserId:
          type: string
        showPaymentId:
          type: string
        state:
          type: string
        stateValue:
          type: string
        synVersion:
          type: string
        tolPrice:
          type: string

    OtcFindMyPaymentListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                myPaymentList:
                  type: array
                  items:
                    $ref: '#/components/schemas/Receipt'

    Receipt:
      type: object
      properties:
        bankName:
          type: string
        paymentId:
          type: string
        receiptLogo:
          type: string
        receiptName:
          type: string
        receiptNo:
          type: string
        receiptType:
          type: string
        receiptTypeValue:
          type: string
        sort:
          type: string

    OtcFindAdListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/OtcFindAdListItem'
    OtcFindAdListItem:
      type: object
      properties:
        adId:
          type: string
        amount:
          type: string
        buySell:
          type: string
        currencySign:
          type: string
        currencyType:
          type: string
        isOnline:
          type: string
        isPayAli:
          type: string
        isPayBank:
          type: string
        isPayWx:
          type: string
        limitRate:
          type: string
        maxCny:
          type: string
        minCny:
          type: string
        orderNum:
          type: string
        payWay:
          type: string
        price:
          type: string
        timeLimit:
          type: string
        userId:
          type: string
        userLogo:
          type: string
        userName:
          type: string

    OtcConfigResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                currencies:
                  type: array
                  items:
                    type: string

    IdentityAuthResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                identityAuth:
                  $ref: '#/components/schemas/IdentityAuth'

    IdentityAuth:
      type: object
      properties:
        backImgUrl:
          type: string
        certNo:
          type: string
        checkMsg:
          type: string
        createTime:
          type: string
        frontImgUrl:
          type: string
        name:
          type: string
        state:
          type: string
        stateDesc:
          type: string
        userId:
          type: string

    ProOrderQuerySumResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                sumCount:
                  type: string
                sumToken:
                  type: string

    ProOrderQueryListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          buySell:
                            type: string
                          buySellValue:
                            type: string
                          closeDetails:
                            type: array
                            items:
                              type: object
                              properties:
                                closeBail:
                                  type: string
                                closeFee:
                                  type: string
                                closeHand:
                                  type: string
                                closePrice:
                                  type: string
                                closeTime:
                                  type: string
                                dvForLossShare:
                                  type: string
                                dvForProfitShare:
                                  type: string
                                lossShare:
                                  type: string
                                profit:
                                  type: string
                                profitShare:
                                  type: string
                          closeDone:
                            type: string
                          closeFee:
                            type: string
                          closePrice:
                            type: string
                          closeState:
                            type: string
                          closeStateDesc:
                            type: string
                          closeTime:
                            type: string
                          multiNum:
                            type: string
                          nowStateDesc:
                            type: string
                          openBail:
                            type: string
                          openDone:
                            type: string
                          openFee:
                            type: string
                          openHand:
                            type: string
                          openPrice:
                            type: string
                          openState:
                            type: string
                          openStateDesc:
                            type: string
                          openTime:
                            type: string
                          orderId:
                            type: string
                          price:
                            type: string
                          priceDecimals:
                            type: string
                          profit:
                            type: string
                          profitRate:
                            type: string
                          stopLossPrice:
                            type: string
                          stopWinPrice:
                            type: string
                          symbol:
                            type: string
                          symbolName:
                            type: string
                          userId:
                            type: string

    QueryTransferListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: string
                          createTime:
                            type: string
                          fromAccountType:
                            type: string
                          toAccountType:
                            type: string
                          transferId:
                            type: string
                          typeValue:
                            type: string
                          userId:
                            type: string

    OutHoldAmountResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                amountDecimals:
                  type: string
                holdAmount:
                  type: string

    ListAccountTypeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                accountTypeList:
                  type: array
                  items:
                    type: object
                    properties:
                      accountName:
                        type: string
                      accountType:
                        type: string

    DepositWithdrawGetInfoResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                balance:
                  type: string
                infos:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                      fee:
                        type: string
                      image:
                        type: string
                      type:
                        type: string

    DepositListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: string
                          chainType:
                            type: string
                          createTime:
                            type: string
                          dwId:
                            type: string
                          fee:
                            type: string
                          inOut:
                            type: string
                          realAmount:
                            type: string
                          state:
                            type: string
                          stateDesc:
                            type: string
                          symbol:
                            type: string
                          time:
                            type: string
                          type:
                            type: string
                          userId:
                            type: string

    InviteHomeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                inviteCount:
                  type: string
                teamCount:
                  type: string
                inviteCodePrice:
                  type: string
                sumAmount:
                  type: string
                inviteList:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                      inviteCode:
                        type: string
                      inviteUserId:
                        type: string
                      status:
                        type: string
                      userId:
                        type: string
    HomeMyResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                helpCenterUrl:
                  type: string
                msgCount:
                  type: string
                shareUrl:
                  type: string

    UserInfoResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                adminType:
                  type: string
                agencyCode:
                  type: string
                countryCode:
                  type: string
                createTime:
                  type: string
                headUrl:
                  type: string
                idCertify:
                  type: string
                inviteUid:
                  type: string
                isLock:
                  type: string
                isMark:
                  type: string
                isStop:
                  type: string
                isVip:
                  type: string
                lastIp:
                  type: string
                lastLogin:
                  type: string
                memberCode:
                  type: string
                passErrNum:
                  type: string
                phone:
                  type: string
                regPlatform:
                  type: string
                sex:
                  type: string
                synSign:
                  type: string
                synVersion:
                  type: string
                userId:
                  type: string
                userName:
                  type: string
                userPass:
                  type: string
                verifySql:
                  type: string
                verifySqlTime:
                  type: string
                version:
                  type: string

    PaginationResponse:
      type: object
      properties:
        buttons:
          type: string
        data:
          type: array
          items:
            type: object
        pageNo:
          type: string
        pageSize:
          type: string
        total:
          type: string
      required:
        - buttons
        - pageNo
        - pageSize
        - total

    CommonResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        msg:
          type: string
        success:
          type: string
      required:
        - code
        - msg
        - success
