openapi: '3.0.2'
info:
  title: API Title
  version: '1.0'
servers:
  - url: http://api.piglobalexchanges.com
paths:
  /home/config.do:
    post:
      operationId: 'homeConfig'
      description: ''

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          banner:
                            type: array
                            items:
                              $ref: '#/components/schemas/Banner'
                          downloadUrl:
                            type: string

  /user/security/setPayPass.do:
    post:
      operationId: 'setPayPass'
      description: '設置交易密碼'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                oldPhone:
                  type: string
                oldSmsCode:
                  type: string
                dragImgKey:
                  type: string
                locationx:
                  type: number
                payPass:
                  type: string
                configPayPass:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          downloadUrl:
                            type: string

  /search/coin.do:
    post:
      operationId: 'searchCoin'
      description: 'http發送文字聊天'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                symbol:
                  type: string
                accountType:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCoinResponse'

  /subscribe/apply.do:
    post:
      operationId: 'applySubscribe'
      description: 'http發送文字聊天'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                subscribeId:
                  type: string
                count:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /subscribe/getList.do:
    post:
      operationId: 'getSubscribeList'
      description: '获取数字货币申购列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscribeListResponse'

  /subscribe/getDetail.do:
    post:
      operationId: 'getSubscribeDetail'
      description: '获取申购数字货币详情'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSubscribeDetailResponse'

  /subscribe/allIn.do:
    post:
      operationId: 'allInSubscribe'
      description: 'http發送文字聊天'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                subscribeId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          maxCount:
                            type: string

  /chat/otc/sendOtcChat.do:
    post:
      operationId: 'sendOtcChat'
      description: 'http發送文字聊天'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                fileUrl:
                  type: string
                imgHeight:
                  type: string
                imgWidth:
                  type: string
                orderId:
                  type: string
                say:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /chat/notLoggedIn/sendSay.do:
    post:
      operationId: 'sendSayAnonymous'
      description: 'http發送文字聊天'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                chatTopic:
                  type: string
                say:
                  type: string
                verify:
                  type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /chat/sendSay.do:
    post:
      operationId: 'sendSay'
      description: 'http發送文字聊天'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                chatTopic:
                  type: string
                say:
                  type: string
                verify:
                  type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /security/loginOut.do:
    post:
      operationId: 'logout'
      description: '登出'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /chat/getUnreadCount.do:
    post:
      operationId: 'getUnreadCount'
      description: '获取当前用户未读消息数量'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          otcCount:
                            type: string
                          otcList:
                            type: array
                            items:
                              type: object
                              properties:
                                orderId:
                                  type: string
                                count:
                                  type: string
                          staffCount:
                            type: string
                          sumCount:
                            type: string

  /chat/otc/findOtcChatList.do:
    post:
      operationId: 'findOtcChatList'
      description: '获取当前订单对应该订单聊天列表'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatListResponse'

  /chat/notLoggedIn/findStaffChatList.do:
    post:
      operationId: 'findStaffChatListAnonymous'
      description: '获取与客服聊天列表'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatListResponse'

  /chat/findStaffChatList.do:
    post:
      operationId: 'findStaffChatList'
      description: '获取与客服聊天列表'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatListResponse'

  /security/login.do:
    post:
      operationId: 'login'
      description: '登錄'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dragImgKey:
                  type: string
                email:
                  type: string
                locationx:
                  type: number
                phone:
                  type: string
                platform:
                  type: string
                smsCode:
                  type: string
                type:
                  type: number
                userPass:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                          user:
                            $ref: '#/components/schemas/UserInfo'

  /security/register.do:
    post:
      operationId: 'register'
      description: '注冊'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dragImgKey:
                  type: string
                email:
                  type: string
                locationx:
                  type: number
                phone:
                  type: string
                platform:
                  type: string
                smsCode:
                  type: string
                type:
                  type: number
                userPass:
                  type: string
              required:
                - 'dragImgKey'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          token:
                            type: string
                          user:
                            $ref: '#/components/schemas/UserInfo'

  /pro/order/cancel.do:
    post:
      operationId: 'proOrderCancel'
      description: '获取可划转的币种最大数量'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
                type:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /account/getTransferSymbols.do:
    post:
      operationId: 'getTransferSymbols'
      description: '获取可划转的币种最大数量'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                fromAccountType:
                  type: string
                toAccountType:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          type: string

  /account/getSymbolMaxAmount.do:
    post:
      operationId: 'getSymbolMaxAmount'
      description: '获取可划转的币种最大数量'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                fromAccountType:
                  type: string
                symbol:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: string

  /chat/notLoggedIn/getCustomerService.do:
    post:
      operationId: 'getCustomerServiceAnonymous'
      description: '匿名获取客服人员'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          customerServiceStaff:
                            $ref: '#/components/schemas/CustomerServiceStaff'

  /chat/getCustomerService.do:
    post:
      operationId: 'getCustomerService'
      description: '获取客服人员'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          customerServiceStaff:
                            $ref: '#/components/schemas/CustomerServiceStaff'

  /pro/order/close.do:
    post:
      operationId: 'proOrderClose'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
                closeHand:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/updateLossPrice.do:
    post:
      operationId: 'proOrderUpdateLossPrice'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
                stopLossPrice:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/updateWinPrice.do:
    post:
      operationId: 'proOrderUpdateWinPrice'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
                stopWinPrice:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/config.do:
    post:
      operationId: 'proOrderConfig'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                symbol:
                  type: string
                type:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderConfigResponse'

  /pro/order/checkOut.do:
    post:
      operationId: 'proOrderCheckOut'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                symbol:
                  type: string
                price:
                  type: string
                buySell:
                  type: string
                hand:
                  type: string
                multiNum:
                  type: string
                orderType:
                  type: string
                type:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          maxHand:
                            type: string
                          openBail:
                            type: string

  /follow/getTypes.do:
    post:
      operationId: 'getFollowTypes'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dvUid:
                  type: string
              required:
                - 'dvUid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFollowTypesResponse'

  /follow/applyForFollow.do:
    post:
      operationId: 'applyForFollow'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dvUid:
                  type: string
                typeId:
                  type: string
                multiNum:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /follow/unBind.do:
    post:
      operationId: 'unBindFollow'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dvUid:
                  type: string
              required:
                - 'dvUid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /attention/add.do:
    post:
      operationId: 'attentionAdd'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                attentionUid:
                  type: string
                num:
                  type: string
              required:
                - 'attentionUid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /personal/trendChart.do:
    post:
      operationId: 'personalTrendChart'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                targetUid:
                  type: string
                timeType:
                  type: string
                  description: 'month month3 month6 year'
                type:
                  type: string
                  description: '1 业绩走势  2跟单人气  3交易次数  4累计盈亏'
              required:
                - 'targetUid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalTrendChartResponse'

  /personal/home.do:
    post:
      operationId: 'personalHome'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                targetUid:
                  type: string
              required:
                - 'targetUid'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalHomeResponse'

  /depositeWithdraw/getWithdrawConfigs.do:
    post:
      operationId: 'getWithdrawConfigs'
      description: '获取提币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                symbol:
                  type: string
              required:
                - 'symbol'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWithdrawConfigsResponse'

  /depositeWithdraw/delAddress.do:
    post:
      operationId: 'delAddress'
      description: '删除提币地址'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                addressId:
                  type: string
                payPass:
                  type: string
              required:
                - 'addressId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /depositeWithdraw/addressList.do:
    post:
      operationId: 'addressList'
      description: '获取提币地址列表'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                chainType:
                  type: string
                symbol:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressListResponse'

  /depositeWithdraw/addAddress.do:
    post:
      operationId: 'addAddress'
      description: '添加提币地址'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                chainType:
                  type: string
                remark:
                  type: string
                symbol:
                  type: string
                payPass:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/open.do:
    post:
      operationId: 'proOrderOpen'
      description: '明細'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buySell:
                  type: string
                hand:
                  type: string
                multiNum:
                  type: string
                orderType:
                  type: string
                price:
                  type: string
                symbol:
                  type: string
                type:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/detail.do:
    post:
      operationId: 'proOrderDetail'
      description: '明細'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
                symbol:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderDetailResponse'

  /pledge/commit.do:
    post:
      operationId: 'pledgeCommit'
      description: '提交质押申请'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                count:
                  type: string
                pledgeId:
                  type: string
              required:
                - 'count'
                - 'pledgeId'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pledge/recordList.do:
    post:
      operationId: 'recordListPledges'
      description: '获取质押记录列表'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                status:
                  type: string
                  description: '状态 0 进行中 1 已结束'
              required:
                - 'status'

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordListPledgesResponse'

  /pledge/list.do:
    post:
      operationId: 'listPledges'
      description: '获取可质押品种列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPledgesResponse'

  /home/cropyme.do:
    post:
      operationId: 'homeCropMe'
      description: '大V排行榜页面信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeCropMeResponse'

  /depositeWithdraw/getCoinInfo.do:
    post:
      operationId: 'getCoinInfo'
      description: '获取提币充币相关信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                chainType:
                  type: string
                inOut:
                  type: number
                symbol:
                  type: string
              required:
                - 'chainType'
                - 'inOut'
                - 'symbol'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinListResponse'

  /depositeWithdraw/getChargeConfigs.do:
    post:
      operationId: 'getChargeConfigs'
      description: '获取充币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                symbol:
                  type: string
                  description: '币种符号'
              required:
                - 'symbol'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargeConfigsResponse'

  /depositeWithdraw/coinList.do:
    post:
      operationId: 'getCoinList'
      description: '获取充提币币种列表'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                inOut:
                  type: number
                  description: '充提币类型，充币 1 ，提币 -1'
              required:
                - 'inOut'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoinListResponse'

  /optional/coin/isOptional.do:
    post:
      operationId: 'isOptional'
      description: '是否自选'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                symbol:
                  type: string
              required:
                - 'symbol'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          isOptional:
                            type: string
  /coin/info.do:
    post:
      operationId: 'coinInfo'
      description: '获取币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                symbol:
                  type: string
              required:
                - 'symbol'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          coin:
                            $ref: '#/components/schemas/Coin'
  /config/all.do:
    post:
      operationId: 'allConfig'
      description: '获取风险率说明、搬砖收益说明、banner、金刚区信息等等'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AllConfigResponse'

  /account/recordList.do:
    post:
      operationId: 'accountRecordList'
      description: '获取token账户财务记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                pageNo:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AccountRecordListResponse'

  /article/helpList.do:
    post:
      operationId: 'articleHelpList'
      description: '帮助中心'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                pageNo:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ArticleHelpListResponse'

  /home/account.do:
    post:
      operationId: 'homeAccount'
      description: '账户信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/HomeAccountResponse'

  /otc/certification/applyForCancellation.do:
    post:
      operationId: 'otcCertificationApplyForCancellation'
      description: '获取广告详情信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/certification/authenticate.do:
    post:
      operationId: 'otcCertificationAuthenticate'
      description: '获取广告详情信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/delMyAd.do:
    post:
      operationId: 'otcDelMyAd'
      description: '获取广告详情信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/getMyAdInfo.do:
    post:
      operationId: 'otcGetMyAdInfo'
      description: '获取广告详情信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        $ref: '#/components/schemas/AdItem'

  /otc/myad/setOnline.do:
    post:
      operationId: 'otcSetOnline'
      description: '设置上下架'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
                online:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/updateMyAd.do:
    post:
      operationId: 'otcUpdateMyAd'
      description: '商家发布广告'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
                amount:
                  type: string
                buySell:
                  type: string
                content:
                  type: string
                maxCny:
                  type: string
                minCny:
                  type: string
                payWay:
                  type: string
                price:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
  /otc/myad/addMyAd.do:
    post:
      operationId: 'otcAddMyAd'
      description: '商家发布广告'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: string
                buySell:
                  type: string
                content:
                  type: string
                maxCny:
                  type: string
                minCny:
                  type: string
                payWay:
                  type: string
                price:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/myad/getAdPrice.do:
    post:
      operationId: 'otcGetAdPrice'
      description: '获取当前最大价格或最小价格'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buySell:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          price:
                            type: string

  /otc/myad/findMyAdList.do:
    post:
      operationId: 'otcFindMyAdList'
      description: '获取我的广告列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          myAdList:
                            type: array
                            items:
                              $ref: '#/components/schemas/AdItem'

  /otc/certification/getCertificationInfo.do:
    post:
      operationId: 'otcGetCertificationInfo'
      description: '获取商家认证需要信息，包括缴纳保证金'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          otcAdUrl:
                            type: string
                          otcCertification:
                            $ref: '#/components/schemas/Certification'

  /otc/payment/delete.do:
    post:
      operationId: 'otcPaymentDelete'
      description: '刪除收款方式'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                paymentId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/payment/savePayment.do:
    post:
      operationId: 'otcPaymentSave'
      description: '添加/修改收款方式'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                bankName:
                  type: string
                paymentId:
                  type: string
                qrCodeUrl:
                  type: string
                receiptName:
                  type: string
                receiptNo:
                  type: string
                receiptType:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/mainad/submitAppeal.do:
    post:
      operationId: 'otcSubmitAppeal'
      description: '出售者权限操作【出售】第2步：点击“申诉”按钮'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                image1Url:
                  type: string
                image2Url:
                  type: string
                message:
                  type: string
                orderId:
                  type: string
                reason:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'

  /otc/mainad/getInitAppealList.do:
    post:
      operationId: 'otcGetInitAppealList'
      description: '获取申诉理由列表'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: array
                        items:
                          type: string

  /otc/mainad/toMarkPayOrderSuccess.do:
    post:
      operationId: 'otcToMarkPayOrderSuccess'
      description: '购买者权限操作【付款】第2步：点击“我已付款成功”按钮'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToPayOrderResponse'

  /otc/mainad/toPayOrder.do:
    post:
      operationId: 'otcToPayOrder'
      description: '购买者权限操作【付款】第1步：点击“去付款”按钮进入到付款页面'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
                showPaymentId:
                  type: string
                showUserId:
                  type: string
              required:
                - orderId
                - showPaymentId
                - showUserId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToPayOrderResponse'

  /otc/mainad/cancelOrder.do:
    post:
      operationId: 'otcCancelOrder'
      description: '取消订单'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /otc/mainad/getOrderDetail.do:
    post:
      operationId: 'otcGetOrderDetail'
      description: '我的订单记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                orderId:
                  type: string
              required:
                - orderId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcGetOrderDetailResponse'

  /otc/mainad/findOrderList.do:
    post:
      operationId: 'otcFindOrderList'
      description: '我的订单记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buySell:
                  type: string
                state:
                  type: string
                pageNo:
                  type: number
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcFindOrderListResponse'

  /otc/payment/findMyPaymentList.do:
    post:
      operationId: 'otcFindMyPaymentList'
      description: '获取用户的收款方式列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcFindMyPaymentListResponse'

  /message/find.do:
    post:
      operationId: 'messageFind'
      description: '获取我的消息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                pageNo:
                  type: string

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageFindResponse'

  /otc/mainad/createOrder.do:
    post:
      operationId: 'otcCreateOrder'
      description: '下单交易'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                adId:
                  type: string
                amount:
                  type: string
                buySell:
                  type: string
                price:
                  type: string
                showReceiptType:
                  type: string
              required:
                - adId
                - amount
                - buySell
                - price
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CommonResponse'
                  - properties:
                      data:
                        type: object
                        properties:
                          orderId:
                            type: string

  /otc/mainad/findAdList.do:
    post:
      operationId: 'otcFindAdList'
      description: '市场广告列表（购买，出售）'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                buySell:
                  type: string
                currencyType:
                  type: string
                filterCny:
                  type: string
                filterPayWay:
                  type: string
                pageNo:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcFindAdListResponse'

  /otc/mainad/config.do:
    post:
      operationId: 'otcConfig'
      description: '获取货币类型列表'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtcConfigResponse'

  /identity/get.do:
    post:
      operationId: 'identityGet'
      description: '获取实名认证信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityAuthResponse'

  /identity/submit.do:
    post:
      operationId: 'identitySubmit'
      description: '提交实名认证信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                backImgUrl:
                  type: string
                certNo:
                  type: string
                frontImgUrl:
                  type: string
                name:
                  type: string
              required:
                - backImgUrl
                - certNo
                - frontImgUrl
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/querySum.do:
    post:
      operationId: 'proOrderQuerySum'
      description: '获取交易的总笔数和产生的代币数'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderQuerySumResponse'

  /pro/order/queryList.do:
    post:
      operationId: 'proOrderQueryList'
      description: '查询交易记录（只适用数字货币记录、股指期货记录）'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
                buySell:
                  type: string
                isDone:
                  type: string
                pageNo:
                  type: string
                type:
                  type: string
                symbol:
                  type: string
                orderState:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderQueryListResponse'

  /user/security/checkIdentity.do:
    post:
      operationId: 'userSecurityCheckIdentity'
      description: '身份验证'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dragImgKey:
                  type: string
                locationx:
                  type: number
                phone:
                  type: string
                smsCode:
                  type: string
              required:
                - phone
                - smsCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /sms/get.do:
    post:
      operationId: 'smsGet'
      description: '获取手机验证码'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                countryCode:
                  type: string
                dragImgKey:
                  type: string
                locationx:
                  type: number
                sendAddr:
                  type: string
                type:
                  type: number
              required:
                - countryCode
                - sendAddr
                - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /account/queryTransferList.do:
    post:
      operationId: 'accountQueryTransferList'
      description: '获取转账记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                pageNo:
                  type: number
                fromAccountType:
                  type: string
                toAccountType:
                  type: string
                userId:
                  type: string
              required:
                - pageNo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTransferListResponse'

  /account/transfer.do:
    post:
      operationId: 'accountTransfer'
      description: '划转，从一个账户转到另外一个账户'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: string
                fromAccountType:
                  type: string
                toAccountType:
                  type: string
                userId:
                  type: string
                symbol:
                  type: string
              required:
                - amount
                - fromAccountType
                - toAccountType
                - userId
                - symbol
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutHoldAmountResponse'

  /account/outHoldAmount.do:
    post:
      operationId: 'accountOutHoldAmount'
      description: '获取我的账户可用数量'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
              required:
                - accountType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutHoldAmountResponse'

  /account/listAccountType.do:
    post:
      operationId: 'accountListAccountType'
      description: '获取所有账户类型'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTypeResponse'

  /user/security/changePhoneTwo.do:
    post:
      operationId: 'changePhoneTwo'
      description: '修改手机'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                newCountryCode:
                  type: string
                newPhone:
                  type: string
                newSmsCode:
                  type: string
                oldPhone:
                  type: string
                oldSmsCode:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /user/security/updatePhone.do:
    post:
      operationId: 'userSecurityUpdatePhone'
      description: '修改手机'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                code:
                  type: string
                phone:
                  type: string
                countryCode:
                  type: string
              required:
                - code
                - phone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /depositeWithdraw/withdrawSubmit.do:
    post:
      operationId: 'withdrawSubmit'
      description: '提交提币申请'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                addressId:
                  type: string
                amount:
                  type: string
                payPass:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /depositeWithdraw/chargeSubmit.do:
    post:
      operationId: 'chargeSubmit'
      description: '充提币申请提交'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                amount:
                  type: string
                chainType:
                  type: string
                image:
                  type: string
                symbol:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /invite/buy.do:
    post:
      operationId: 'inviteBuy'
      description: '購買邀請碼'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                count:
                  type: number
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /invite/home.do:
    post:
      operationId: 'inviteHome'
      description: '獲取邀請碼頁面'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteHomeResponse'

  /depositeWithdraw/list.do:
    post:
      operationId: 'depositList'
      description: '获取提币充币/申购相关记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                inOut:
                  type: string
                  example: '充币 1， 提币 -1'
                pageNo:
                  type: number
                  default: 1
                platform:
                  type: string
                  example: 'android, ios, web'
                type:
                  type: number
                  default: 1
                  example: '1 充币提币，2 获取申购相关记录'
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositListResponse'

  /home/my.do:
    post:
      operationId: 'homeMy'
      description: '我的頁面信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeMyResponse'

  /user/info.do:
    post:
      operationId: 'getUserInfo'
      description: '獲取我的頁面信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'

components:
  schemas:
    SearchResultListItem:
      type: object
      properties:
        marketType:
          type: string
        name:
          type: string
        prefixType:
          type: string
        symbol:
          type: string
        symbolPair:
          type: string
        type:
          type: string

    SearchCoinResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                searchResultList:
                  type: array
                  items:
                    $ref: '#/components/schemas/SearchResultListItem'

    SubscribeDetail:
      type: object
      properties:
        alCount:
          type: string
        allSum:
          type: string
        authorSummary:
          type: string
        condition:
          type: string
        content:
          type: string
        description:
          type: string
        endTime:
          type: string
        expCountry:
          type: string
        image:
          type: string
        liftBanTime:
          type: string
        min:
          type: string
        rate:
          type: string
        startTime:
          type: string
        state:
          type: string
        sum:
          type: string
        sumAlCount:
          type: string
        summary:
          type: string
        symbol:
          type: string
        title:
          type: string
        tradeTime:
          type: string
        userCount:
          type: string
        warning:
          type: string
        progress:
          type: string

    GetSubscribeDetailResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                detail:
                  $ref: '#/components/schemas/SubscribeDetail'

    GetSubscribeListItem:
      type: object
      properties:
        alAmount:
          type: string
        amount:
          type: string
        endTime:
          type: string
        id:
          type: string
        image:
          type: string
        startTime:
          type: string
        state:
          type: string
        sumAmount:
          type: string
        summary:
          type: string
        symbol:
          type: string
        title:
          type: string
        progress:
          type: string
        rate:
          type: string

    GetSubscribeListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/GetSubscribeListItem'

    CustomerServiceStaff:
      type: object
      properties:
        chatTopic:
          type: string
        headUrl:
          type: string
        type:
          type: string
        userId:
          type: string
        userName:
          type: string

    ChatListItem:
      type: object
      properties:
        chatId:
          type: string
        chatTopic:
          type: string
        createTime:
          type: string
        headUrl:
          type: string
        mark:
          type: string
        name:
          type: string
        push:
          type: string
        read:
          type: string
        say:
          type: string
        toHeadUrl:
          type: string
        toName:
          type: string
        toUid:
          type: string
        type:
          type: string
        userId:
          type: string
        verify:
          type: string
        from:
          type: string
        to:
          type: string

    ChatListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ChatListItem'

    MessageFindResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          content:
                            type: string
                          createTime:
                            type: string
                          extra:
                            type: string
                          fromUid:
                            type: string
                          headUrl:
                            type: string
                          isMark:
                            type: string
                          isVip:
                            type: string
                          msgId:
                            type: string
                          title:
                            type: string
                          userId:
                            type: string
                          userName:
                            type: string

    ProOrderConfigResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                accountName:
                  type: string
                accountType:
                  type: string
                initHandList:
                  type: array
                  items:
                    type: number
                multiNumList:
                  type: array
                  items:
                    type: number
                openFeeScale:
                  type: string
                priceDecimals:
                  type: string
                usdtRate:
                  type: string
                openRateList:
                  type: array
                  items:
                    type: number

    GetFollowTypesResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    showBind:
                      type: string
                    statementUrl:
                      type: string
                    types:
                      type: array
                      items:
                        $ref: '#/components/schemas/FollowType'
    FollowType:
      type: object
      properties:
        agentLimit:
          type: string
        createTime:
          type: string
        duration:
          type: string
        dvUid:
          type: string
        expireTime:
          type: string
        id:
          type: string
        isBind:
          type: string
        limit:
          type: string
        lossRate:
          type: string
        maxMultiNum:
          type: string
        minMultiNum:
          type: string
        profitRate:
          type: string
        tokenAmount:
          type: string
        updateTime:
          type: string

    PersonalTrendChartResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                trendData:
                  $ref: '#/components/schemas/TrendData'

    TrendData:
      type: array
      items:
        $ref: '#/components/schemas/TrendDataItem'

    TrendDataItem:
      type: object
      properties:
        dayTime:
          type: string
        dayTimeFor:
          type: string
        num:
          type: string
        profit:
          type: string

    PersonalHomeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                userRadar:
                  $ref: '#/components/schemas/UserRadar'
    UserRadar:
      type: object
      properties:
        attentionNum:
          type: string
        correctRate:
          type: string
        days:
          type: string
        describes:
          type: string
        dvLossRate:
          type: string
        dvProfitRate:
          type: string
        entryTime:
          type: string
        expireTime:
          type: string
        followAutoBind:
          type: string
        followDigitalAssets:
          type: string
        followNotice:
          type: string
        followProfitRate:
          type: string
        followStockAssets:
          type: string
        headUrl:
          type: string
        isAgentOnly:
          type: string
        isExpireTime:
          type: string
        isOnline:
          type: string
        maxMultiNum:
          type: string
        monthProfit:
          type: string
        myIsAttention:
          type: string
        myIsFollow:
          type: string
        radarFollowBalance:
          type: string
        radarFollowBalanceWeight:
          type: string
        radarFollowNum:
          type: string
        radarFollowNumWeight:
          type: string
        radarFollowProfitRate:
          type: string
        radarFollowProfitRateWeight:
          type: string
        radarFollowWinRate:
          type: string
        radarFollowWinRateWeight:
          type: string
        radarProfitRate:
          type: string
        radarProfitRateWeight:
          type: string
        realAttentionNum:
          type: string
        realFollowCount:
          type: string
        recommend:
          type: string
        subFee:
          type: string
        subFeeType:
          type: string
        subFeeTypeName:
          type: string
        subFeeTypeUnit:
          type: string
        subIsFee:
          type: string
        tolRadarWeight:
          type: string
        totalProfit:
          type: string
        userId:
          type: string
        userName:
          type: string

    GetWithdrawConfigsResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                addressList:
                  type: array
                  items:
                    $ref: '#/components/schemas/Address'
                availableAmount:
                  type: string
                fee:
                  type: string
                frozenAmount:
                  type: string

    AddressListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Address'

    Address:
      type: object
      properties:
        address:
          type: string
        chainType:
          type: string
        createTime:
          type: string
        id:
          type: string
        remark:
          type: string
        symbol:
          type: string

    ProOrderDetailResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                order:
                  $ref: '#/components/schemas/ProOrder'
                data:
                  $ref: '#/components/schemas/ProOrderData'

    ProOrder:
      type: object
      properties:
        buySell:
          type: string
        buySellValue:
          type: string
        closeDetails:
          type: string
        closeDone:
          type: string
        closeFee:
          type: string
        closePrice:
          type: string
        closeState:
          type: string
        closeStateDesc:
          type: string
        closeTime:
          type: string
        last:
          type: string
        multiNum:
          type: string
        nowStateDesc:
          type: string
        openBail:
          type: string
        openDone:
          type: string
        openFee:
          type: string
        openHand:
          type: string
        openPrice:
          type: string
        openState:
          type: string
        openStateDesc:
          type: string
        openTime:
          type: string
        orderId:
          type: string
        price:
          type: string
        priceDecimals:
          type: string
        profit:
          type: string
        profitRate:
          type: string
        rate:
          type: string
        stopLossPrice:
          type: string
        stopWinPrice:
          type: string
        symbol:
          type: string

    ProOrderData:
      type: object
      properties:
        amount:
          type: string
        availableAmount:
          type: string
        last:
          type: string
        price:
          type: string
        priceDecimals:
          type: string
        profit:
          type: string
        profitRate:
          type: string
        rate:
          type: string
        symbol:
          type: string
        usdtAmount:
          type: string
        frozenAmount:
          type: string

    RecordListPledgesResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PledgeRecord'

    PledgeRecord:
      type: object
      properties:
        count:
          type: string
        duration:
          type: string
        endTime:
          type: string
        id:
          type: string
        preProfit:
          type: string
        pledgeId:
          type: string
        profit:
          type: string
        profitRate:
          type: string
        startTime:
          type: string
        status:
          type: string
        symbol:
          type: string

    ListPledgesResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/PledgeListItem'

    PledgeListItem:
      type: object
      properties:
        duration:
          type: string
        id:
          type: string
        minCount:
          type: string
        profitRate:
          type: string
        symbol:
          type: string

    HomeCropMeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                banner:
                  type: array
                  items:
                    $ref: '#/components/schemas/Banner'
                noticeList:
                  type: array
                  items:
                    $ref: '#/components/schemas/Notice'
                platformData:
                  type: object
                  properties:
                    activeUser:
                      type: string
                    allAmount:
                      type: string
                    allHand:
                      type: string
                scoreRank:
                  type: array
                  items:
                    $ref: '#/components/schemas/ScoreRank'

    ScoreRank:
      type: object
      properties:
        correctRate:
          type: string
        days:
          type: string
        entryTime:
          type: string
        expireTime:
          type: string
        headUrl:
          type: string
        isExpireTime:
          type: string
        maxMultiNum:
          type: string
        monthProfit:
          type: string
        subIsFee:
          type: string
        totalProfit:
          type: string
        userId:
          type: string
        userName:
          type: string

    Notice:
      type: object
      properties:
        articleId:
          type: string
        createTime:
          type: string
        isTop:
          type: string
        title:
          type: string
        type:
          type: string
        url:
          type: string

    ChargeConfigsResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              $ref: '#/components/schemas/ChargeConfig'

    ChargeConfigAddress:
      type: object
      properties:
        symbol:
          type: string
        address:
          type: string
        chainType:
          type: string

    ChargeConfig:
      type: object
      properties:
        addressList:
          type: array
          items:
            $ref: '#/components/schemas/ChargeConfigAddress'
        availableAmount:
          type: string
        minChargeAmount:
          type: string

    CoinListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                coinList:
                  type: array
                  items:
                    type: string
                chainTypeList:
                  type: array
                  items:
                    type: string

    Coin:
      type: object
      properties:
        blockUrl:
          type: string
        circulateAmount:
          type: string
        crowdfundPrice:
          type: string
        currency:
          type: string
        desc:
          type: string
        isTrade:
          type: string
        issueAmount:
          type: string
        issueDate:
          type: string
        marketType:
          type: string
        maxWithdrawDecimals:
          type: string
        name:
          type: string
        officialWebUrl:
          type: string
        symbol:
          type: string
        whitePaperUrl:
          type: string

    AllConfigResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                banner:
                  type: array
                  items:
                    $ref: '#/components/schemas/Banner'
                miningRateDesc:
                  type: string
                riskRateDesc:
                  type: string

    ArticleHelpListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          articleId:
                            type: string
                          createTime:
                            type: string
                          isTop:
                            type: string
                          title:
                            type: string
                          type:
                            type: string
                          url:
                            type: string

    AccountRecordListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/AccountRecordListItem'

    AccountRecordListItem:
      type: object
      properties:
        accountType:
          type: string
        amount:
          type: string
        createTime:
          type: string
        createTimeMs:
          type: string
        id:
          type: string
        inOut:
          type: string
        lowerUserId:
          type: string
        remark:
          type: string
        state:
          type: string
        type:
          type: string
        updateTime:
          type: string

    HomeAccountResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                balanceAccount:
                  $ref: '#/components/schemas/AccountInfo'
                banner:
                  type: array
                  items:
                    $ref: '#/components/schemas/Banner'
                digitalAccount:
                  $ref: '#/components/schemas/AccountInfo'
                followAccount:
                  $ref: '#/components/schemas/AccountInfo'
                followDv:
                  $ref: '#/components/schemas/FollowDv'
                spotAccount:
                  $ref: '#/components/schemas/AccountInfo'
                stockAccount:
                  $ref: '#/components/schemas/AccountInfo'
                tokenAccount:
                  $ref: '#/components/schemas/AccountInfo'
                tolAssets:
                  type: string
                tolAssetsCny:
                  type: string

    FollowDv:
      type: object
      properties:
        agencyCode:
          type: string
        couponAmt:
          type: string
        dvHeadUrl:
          type: string
        dvLossRate:
          type: string
        dvProfitRate:
          type: string
        dvUid:
          type: string
        dvUserName:
          type: string
        expireTime:
          type: string
        isOpen:
          type: string
        memberCode:
          type: string
        multiple:
          type: string
        status:
          type: string
        tokenAmt:
          type: string
        typeId:
          type: string
        updateTime:
          type: string
        userId:
          type: string

    Banner:
      type: object
      properties:
        bannerId:
          type: string
        cls:
          type: string
        createTime:
          type: string
        downTime:
          type: string
        imageUrl:
          type: string
        params:
          type: string
        pkg:
          type: string
        position:
          type: string
        pview:
          type: string
        sortNum:
          type: string
        state:
          type: string
        type:
          type: string
        upTime:
          type: string
        videoUrl:
          type: string

    AccountInfo:
      type: object
      properties:
        accountType:
          type: string
        assets:
          type: string
        assetsCny:
          type: string
        disableAmount:
          type: string
        eableBail:
          type: string
        frozenAmount:
          type: string
        frozenBail:
          type: string
        holdAmount:
          type: string
        openBail:
          type: string
        openList:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        profit:
          type: string
        riskRate:
          type: string
        symbolList:
          type: array
          items:
            $ref: '#/components/schemas/SymbolListItem'

    SymbolListItem:
      type: object
      properties:
        frozenAmount:
          type: string
          description: '委托'
        holdAmount:
          type: string
          description: '可用'
        sumAmount:
          type: string
          description: '总资产'
        symbol:
          type: string
        usdtAmount:
          type: string
          description: '折合'

    Position:
      type: object
      properties:
        accountType:
          type: string
        accountTypeName:
          type: string
        airDropAmount:
          type: string
        amount:
          type: string
        availableAmount:
          type: string
        buySell:
          type: string
        buySellValue:
          type: string
        closeDetails:
          type: string
        closePrice:
          type: string
        dvLossRate:
          type: string
        dvProfitRate:
          type: string
        dvUid:
          type: string
        followUid:
          type: string
        frozenAmount:
          type: string
        openHand:
          type: string
        openPrice:
          type: string
        openTime:
          type: string
        orderId:
          type: string
        price:
          type: string
        profit:
          type: string
        profitRate:
          type: string
        subAmount:
          type: string
        symbol:
          type: string
        usdtAmount:
          type: string

    AdItem:
      type: object
      properties:
        adId:
          type: string
        amount:
          type: string
        buySell:
          type: string
        isOnline:
          type: string
        isPayAli:
          type: string
        isPayBank:
          type: string
        isPayWx:
          type: string
        limitRate:
          type: string
        maxCny:
          type: string
        minCny:
          type: string
        orderNum:
          type: string
        payWay:
          type: string
        price:
          type: string
        timeLimit:
          type: string
        userId:
          type: string
        userLogo:
          type: string
        userName:
          type: string

    Certification:
      type: object
      properties:
        certNo:
          type: string
        createTime:
          type: string
        idCertify:
          type: string
        limitRate:
          type: string
        orderNum:
          type: string
        realName:
          type: string
        reason:
          type: string
        securityDeposit:
          type: string
        state:
          type: string

    ToPayOrderResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                chatStaff:
                  $ref: '#/components/schemas/ChatStaff'
                orderToPayResult:
                  $ref: '#/components/schemas/OrderToPayResult'

    OrderToPayResult:
      type: object
      properties:
        alertTip:
          type: string
        amount:
          type: string
        bankName:
          type: string
        chatTopic:
          type: string
        createTime:
          type: string
        currencySign:
          type: string
        orderId:
          type: string
        paySecondTime:
          type: string
        payTip:
          type: string
        price:
          type: string
        receiptLogo:
          type: string
        receiptName:
          type: string
        receiptNo:
          type: string
        receiptType:
          type: string
        receiptTypeValue:
          type: string
        showRealName:
          type: string
        showUserId:
          type: string
        showUserLogo:
          type: string
        showUserName:
          type: string
        showUserTip:
          type: string
        state:
          type: string
        stateValue:
          type: string
        tolPrice:
          type: string

    OtcGetOrderDetailResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                chatStaff:
                  $ref: '#/components/schemas/ChatStaff'
                order:
                  $ref: '#/components/schemas/Order'

    ChatStaff:
      type: object
      properties:
        chatTopic:
          type: string
        headUrl:
          type: string
        type:
          type: string
        userId:
          type: string
        userName:
          type: string

    Order:
      type: object
      properties:
        adId:
          type: string
        alertTip:
          type: string
        amount:
          type: string
        buySell:
          type: string
        buySellValue:
          type: string
        buyUserId:
          type: string
        chatTopic:
          type: string
        createTime:
          type: string
        currencySign:
          type: string
        orderId:
          type: string
        paySecondTime:
          type: string
        price:
          type: string
        receiptName:
          type: string
        sellUserId:
          type: string
        showPayWay:
          type: string
        showRealName:
          type: string
        showUserId:
          type: string
        showUserLogo:
          type: string
        showUserName:
          type: string
        state:
          type: string
        stateTip:
          type: string
        stateValue:
          type: string
        tolPrice:
          type: string

    OtcFindOrderListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/OtcOrderListItem'

    OtcOrderListItem:
      type: object
      properties:
        adId:
          type: string
        amount:
          type: string
        appealUserId:
          type: string
        buyAgencyCode:
          type: string
        buyBankName:
          type: string
        buyMemberCode:
          type: string
        buyReceiptName:
          type: string
        buyReceiptNo:
          type: string
        buySell:
          type: string
        buySellValue:
          type: string
        buyUserId:
          type: string
        chatTopic:
          type: string
        createTime:
          type: string
        currencySign:
          type: string
        doneTime:
          type: string
        expireTime:
          type: string
        isAdSell:
          type: string
        orderId:
          type: string
        price:
          type: string
        sellAgencyCode:
          type: string
        sellBankName:
          type: string
        sellMemberCode:
          type: string
        sellPayWay:
          type: string
        sellReceiptName:
          type: string
        sellReceiptNo:
          type: string
        sellUserId:
          type: string
        showPaymentId:
          type: string
        state:
          type: string
        stateValue:
          type: string
        synVersion:
          type: string
        tolPrice:
          type: string

    OtcFindMyPaymentListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                myPaymentList:
                  type: array
                  items:
                    $ref: '#/components/schemas/Receipt'

    Receipt:
      type: object
      properties:
        bankName:
          type: string
        paymentId:
          type: string
        receiptLogo:
          type: string
        receiptName:
          type: string
        receiptNo:
          type: string
        receiptType:
          type: string
        receiptTypeValue:
          type: string
        sort:
          type: string

    OtcFindAdListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/OtcFindAdListItem'
    OtcFindAdListItem:
      type: object
      properties:
        adId:
          type: string
        amount:
          type: string
        buySell:
          type: string
        currencySign:
          type: string
        currencyType:
          type: string
        isOnline:
          type: string
        isPayAli:
          type: string
        isPayBank:
          type: string
        isPayWx:
          type: string
        limitRate:
          type: string
        maxCny:
          type: string
        minCny:
          type: string
        orderNum:
          type: string
        payWay:
          type: string
        price:
          type: string
        timeLimit:
          type: string
        userId:
          type: string
        userLogo:
          type: string
        userName:
          type: string

    OtcConfigResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                currencies:
                  type: array
                  items:
                    type: string

    IdentityAuthResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                identityAuth:
                  $ref: '#/components/schemas/IdentityAuth'

    IdentityAuth:
      type: object
      properties:
        backImgUrl:
          type: string
        certNo:
          type: string
        checkMsg:
          type: string
        createTime:
          type: string
        frontImgUrl:
          type: string
        name:
          type: string
        state:
          type: string
        stateDesc:
          type: string
        userId:
          type: string

    ProOrderQuerySumResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                sumCount:
                  type: string
                sumToken:
                  type: string

    ProOrderQueryListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProOrderQueryListItem'

    ProOrderQueryListItem:
      type: object
      properties:
        buySell:
          type: string
        buySellValue:
          type: string
        closeDetails:
          type: array
          items:
            type: object
            properties:
              closeBail:
                type: string
              closeFee:
                type: string
              closeHand:
                type: string
              closePrice:
                type: string
              closeTime:
                type: string
              dvForLossShare:
                type: string
              dvForProfitShare:
                type: string
              lossShare:
                type: string
              profit:
                type: string
              profitShare:
                type: string
        closeDone:
          type: string
        closeFee:
          type: string
        closePrice:
          type: string
        closeState:
          type: string
        closeStateDesc:
          type: string
        closeTime:
          type: string
        multiNum:
          type: string
        nowStateDesc:
          type: string
        openBail:
          type: string
        openDone:
          type: string
        openFee:
          type: string
        openHand:
          type: string
        openPrice:
          type: string
        openState:
          type: string
        openStateDesc:
          type: string
        openTime:
          type: string
        orderId:
          type: string
        price:
          type: string
        priceDecimals:
          type: string
        profit:
          type: string
        profitRate:
          type: string
        stopLossPrice:
          type: string
        stopWinPrice:
          type: string
        symbol:
          type: string
        symbolName:
          type: string
        userId:
          type: string

    QueryTransferListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: string
                          createTime:
                            type: string
                          fromAccountType:
                            type: string
                          toAccountType:
                            type: string
                          transferId:
                            type: string
                          typeValue:
                            type: string
                          userId:
                            type: string

    OutHoldAmountResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                amountDecimals:
                  type: string
                holdAmount:
                  type: string

    ListAccountTypeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                accountTypeList:
                  type: array
                  items:
                    type: object
                    properties:
                      accountName:
                        type: string
                      accountType:
                        type: string

    DepositWithdrawListItem:
      type: object
      properties:
        address:
          type: string
        amount:
          type: string
        createTime:
          type: string
        dwId:
          type: string
        fee:
          type: string
        inOut:
          type: string
        realAmount:
          type: string
        sessionId:
          type: string
        state:
          type: string
        stateDesc:
          type: string
        subSymbol:
          type: string
        subTitle:
          type: string
        symbol:
          type: string
        time:
          type: string
        transferTime:
          type: string

    DepositListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DepositWithdrawListItem'

    InviteHomeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                inviteCount:
                  type: string
                teamCount:
                  type: string
                inviteCodePrice:
                  type: string
                sumAmount:
                  type: string
                inviteList:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                      inviteCode:
                        type: string
                      inviteUserId:
                        type: string
                      status:
                        type: string
                      userId:
                        type: string
    HomeMyResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                helpCenterUrl:
                  type: string
                aboutUsUrl:
                  type: string
                msgCount:
                  type: string
                shareUrl:
                  type: string

    UserInfo:
      type: object
      properties:
        adminType:
          type: string
        agencyCode:
          type: string
        countryCode:
          type: string
        createTime:
          type: string
        describes:
          type: string
        email:
          type: string
        headUrl:
          type: string
        idCertify:
          type: string
        inviteUid:
          type: string
        isLock:
          type: string
        isMark:
          type: string
        isStop:
          type: string
        isVip:
          type: string
        lastIp:
          type: string
        lastLogin:
          type: string
        memberCode:
          type: string
        passErrNum:
          type: string
        phone:
          type: string
        payPass:
          type: string
        regPlatform:
          type: string
        sex:
          type: string
        synSign:
          type: string
        synVersion:
          type: string
        userId:
          type: string
        userName:
          type: string
        userPass:
          type: string
        verifySql:
          type: string
        verifySqlTime:
          type: string
        version:
          type: string

    UserInfoResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              $ref: '#/components/schemas/UserInfo'

    PaginationResponse:
      type: object
      properties:
        buttons:
          type: string
        data:
          type: array
          items:
            type: object
        pageNo:
          type: string
        pageSize:
          type: string
        total:
          type: string
      required:
        - buttons
        - pageNo
        - pageSize
        - total

    CommonResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        msg:
          type: string
        success:
          type: string
      required:
        - code
        - msg
        - success
