openapi: '3.0.2'
info:
  title: API Title
  version: '1.0'
servers:
  - url: http://api.piglobalexchanges.com
paths:
  /identity/get.do:
    post:
      operationId: 'identityGet'
      description: '获取实名认证信息'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityAuthResponse'

  /identity/submit.do:
    post:
      operationId: 'identitySubmit'
      description: '提交实名认证信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                backImgUrl:
                  type: string
                certNo:
                  type: string
                frontImgUrl:
                  type: string
                name:
                  type: string
              required:
                - backImgUrl
                - certNo
                - frontImgUrl
                - name
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /pro/order/querySum.do:
    post:
      operationId: 'proOrderQuerySum'
      description: '获取交易的总笔数和产生的代币数'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderQuerySumResponse'

  /pro/order/queryList.do:
    post:
      operationId: 'proOrderQueryList'
      description: '查询交易记录（只适用数字货币记录、股指期货记录）'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
                buySell:
                  type: string
                isDone:
                  type: string
                pageNo:
                  type: string
                type:
                  type: string
                symbol:
                  type: string
                orderState:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProOrderQueryListResponse'

  /user/security/checkIdentity.do:
    post:
      operationId: 'userSecurityCheckIdentity'
      description: '身份验证'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                dragImgKey:
                  type: string
                locationx:
                  type: number
                phone:
                  type: string
                smsCode:
                  type: string
              required:
                - dragImgKey
                - locationx
                - phone
                - smsCode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /sms/get.do:
    post:
      operationId: 'smsGet'
      description: '获取手机验证码'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                countryCode:
                  type: string
                dragImgKey:
                  type: string
                locationx:
                  type: number
                sendAddr:
                  type: string
                type:
                  type: number
              required:
                - countryCode
                - dragImgKey
                - locationx
                - sendAddr
                - type
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /account/queryTransferList.do:
    post:
      operationId: 'accountQueryTransferList'
      description: '获取转账记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                pageNo:
                  type: number
                fromAccountType:
                  type: string
                toAccountType:
                  type: string
                userId:
                  type: string
              required:
                - pageNo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTransferListResponse'

  /account/transfer.do:
    post:
      operationId: 'accountTransfer'
      description: '划转，从一个账户转到另外一个账户'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                amount:
                  type: string
                fromAccountType:
                  type: string
                toAccountType:
                  type: string
                userId:
                  type: string
              required:
                - amount
                - fromAccountType
                - toAccountType
                - userId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutHoldAmountResponse'

  /account/outHoldAmount.do:
    post:
      operationId: 'accountOutHoldAmount'
      description: '获取我的账户可用数量'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountType:
                  type: string
                userId:
                  type: string
              required:
                - accountType
                - userId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutHoldAmountResponse'

  /account/listAccountType.do:
    post:
      operationId: 'accountListAccountType'
      description: '获取所有账户类型'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountTypeResponse'

  /user/security/updatePhone.do:
    post:
      operationId: 'userSecurityUpdatePhone'
      description: '修改手机'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                code:
                  type: string
                phone:
                  type: string
              required:
                - code
                - phone
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /depositeWithdraw/localSubmit.do:
    post:
      operationId: 'depositWithdrawLocalSubmit'
      description: '充提币申请提交'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                address:
                  type: string
                amount:
                  type: string
                chainType:
                  type: string
                image:
                  type: string
                inOut:
                  type: string
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
  /invite/buy.do:
    post:
      operationId: 'inviteBuy'
      description: '購買邀請碼'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                count:
                  type: number
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'

  /invite/home.do:
    post:
      operationId: 'inviteHome'
      description: '獲取邀請碼頁面'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteHomeResponse'

  /depositeWithdraw/list.do:
    post:
      operationId: 'depositList'
      description: '获取提币充币/申购相关记录'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                inOut:
                  type: string
                  example: '充币 1， 提币 -1'
                pageNo:
                  type: number
                  default: 1
                platform:
                  type: string
                  example: 'android, ios, web'
                type:
                  type: number
                  default: 1
                  example: '1 充币提币，2 获取申购相关记录'
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositListResponse'

  /depositeWithdraw/getInfo.do:
    post:
      operationId: 'depositWithdrawGetInfo'
      description: '获取充币信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositWithdrawGetInfoResponse'

  /home/my.do:
    post:
      operationId: 'homeMy'
      description: '我的頁面信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeMyResponse'

  /user/info.do:
    post:
      operationId: 'userInfo'
      description: '獲取我的頁面信息'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfoResponse'

components:
  schemas:
    IdentityAuthResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                identityAuth:
                  $ref: '#/components/schemas/IdentityAuth'

    IdentityAuth:
      type: object
      properties:
        backImgUrl:
          type: string
        certNo:
          type: string
        checkMsg:
          type: string
        createTime:
          type: string
        frontImgUrl:
          type: string
        name:
          type: string
        state:
          type: string
        stateDesc:
          type: string
        userId:
          type: string

    ProOrderQuerySumResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                sumCount:
                  type: string
                sumToken:
                  type: string

    ProOrderQueryListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          buySell:
                            type: string
                          buySellValue:
                            type: string
                          closeDetails:
                            type: array
                            items:
                              type: object
                              properties:
                                closeBail:
                                  type: string
                                closeFee:
                                  type: string
                                closeHand:
                                  type: string
                                closePrice:
                                  type: string
                                closeTime:
                                  type: string
                                dvForLossShare:
                                  type: string
                                dvForProfitShare:
                                  type: string
                                lossShare:
                                  type: string
                                profit:
                                  type: string
                                profitShare:
                                  type: string
                          closeDone:
                            type: string
                          closeFee:
                            type: string
                          closePrice:
                            type: string
                          closeState:
                            type: string
                          closeStateDesc:
                            type: string
                          closeTime:
                            type: string
                          multiNum:
                            type: string
                          nowStateDesc:
                            type: string
                          openBail:
                            type: string
                          openDone:
                            type: string
                          openFee:
                            type: string
                          openHand:
                            type: string
                          openPrice:
                            type: string
                          openState:
                            type: string
                          openStateDesc:
                            type: string
                          openTime:
                            type: string
                          orderId:
                            type: string
                          price:
                            type: string
                          priceDecimals:
                            type: string
                          profit:
                            type: string
                          profitRate:
                            type: string
                          stopLossPrice:
                            type: string
                          stopWinPrice:
                            type: string
                          symbol:
                            type: string
                          symbolName:
                            type: string
                          userId:
                            type: string

    QueryTransferListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: string
                          createTime:
                            type: string
                          fromAccountType:
                            type: string
                          toAccountType:
                            type: string
                          transferId:
                            type: string
                          typeValue:
                            type: string
                          userId:
                            type: string

    OutHoldAmountResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                amountDecimals:
                  type: string
                holdAmount:
                  type: string

    ListAccountTypeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                accountTypeList:
                  type: array
                  items:
                    type: object
                    properties:
                      accountName:
                        type: string
                      accountType:
                        type: string

    DepositWithdrawGetInfoResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                balance:
                  type: string
                infos:
                  type: array
                  items:
                    type: object
                    properties:
                      address:
                        type: string
                      fee:
                        type: string
                      image:
                        type: string
                      type:
                        type: string

    DepositListResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              allOf:
                - $ref: '#/components/schemas/PaginationResponse'
                - properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          amount:
                            type: string
                          chainType:
                            type: string
                          createTime:
                            type: string
                          dwId:
                            type: string
                          fee:
                            type: string
                          inOut:
                            type: string
                          realAmount:
                            type: string
                          state:
                            type: string
                          stateDesc:
                            type: string
                          symbol:
                            type: string
                          time:
                            type: string
                          type:
                            type: string
                          userId:
                            type: string

    InviteHomeResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                inviteCount:
                  type: string
                teamCount:
                  type: string
                inviteCodePrice:
                  type: string
                sumAmount:
                  type: string
                inviteList:
                  type: array
                  items:
                    type: object
                    properties:
                      amount:
                        type: string
                      inviteCode:
                        type: string
                      inviteUserId:
                        type: string
                      status:
                        type: string
                      userId:
                        type: string
    HomeMyResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                helpCenterUrl:
                  type: string
                msgCount:
                  type: string
                shareUrl:
                  type: string

    UserInfoResponse:
      allOf:
        - $ref: '#/components/schemas/CommonResponse'
        - properties:
            data:
              type: object
              properties:
                adminType:
                  type: string
                agencyCode:
                  type: string
                countryCode:
                  type: string
                createTime:
                  type: string
                headUrl:
                  type: string
                idCertify:
                  type: string
                inviteUid:
                  type: string
                isLock:
                  type: string
                isMark:
                  type: string
                isStop:
                  type: string
                isVip:
                  type: string
                lastIp:
                  type: string
                lastLogin:
                  type: string
                memberCode:
                  type: string
                passErrNum:
                  type: string
                phone:
                  type: string
                regPlatform:
                  type: string
                sex:
                  type: string
                synSign:
                  type: string
                synVersion:
                  type: string
                userId:
                  type: string
                userName:
                  type: string
                userPass:
                  type: string
                verifySql:
                  type: string
                verifySqlTime:
                  type: string
                version:
                  type: string

    PaginationResponse:
      type: object
      properties:
        buttons:
          type: string
        data:
          type: array
          items:
            type: object
        pageNo:
          type: string
        pageSize:
          type: string
        total:
          type: string
      required:
        - buttons
        - pageNo
        - pageSize
        - total

    CommonResponse:
      type: object
      properties:
        code:
          type: string
        data:
          type: object
        msg:
          type: string
        success:
          type: string
      required:
        - code
        - msg
        - success
