@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --k-safe-area-left: 0px;
  --k-safe-area-right: 0px;
  --k-safe-area-top: 0px;
  --k-safe-area-bottom: 0px;
}

@supports (left: env(safe-area-inset-left)) {
  .safe-areas {
    --k-safe-area-left: env(safe-area-inset-left);
    --k-safe-area-right: env(safe-area-inset-right);
    --k-safe-area-top: env(safe-area-inset-top);
    --k-safe-area-bottom: env(safe-area-inset-bottom);
  }
}

body {
  position: relative;
  background-color: #eef3f9;
}

html.dark {
  --adm-color-box: #2a2e38;
  --adm-color-text: #fff;
  --adm-color-fill-content: #2a2e38;
  --adm-color-background: #161720;

  .adm-tabs {
    --active-title-color: #fff;
    --active-line-color: #0bbb79;
    --title-font-size: 16px;
    color: #aaaaaa;
  }

  .home-tabs {
    --adm-color-background: #2a2e38;
  }

  .adm-tab-bar {
    border-top-color: #333;
    background-color: #333;
    .adm-tab-bar-item-title {
      color: #bbb;
    }
    .adm-tab-bar-item-active {
      .adm-tab-bar-item-title {
        color: #fff;
      }
    }
  }

  .adm-nav-bar-back-arrow {
    color: #fff;
  }

  .adm-nav-bar {
    border-color: #2a2e38;
  }

  .adm-form .adm-list,
  .adm-list {
    --border-inner: 1px solid #3d424e;
    .adm-list-item-content-main {
      color: #fff;
    }
  }

  .eye {
    color: #00bab8;
  }

  .adm-input {
    --placeholder-color: #696d79;
  }

  .my-list {
    .adm-list {
      --border-inner: 1px solid #161720;
      .adm-list-item-content-main {
        color: #fff;
      }
    }
  }
}
