@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-purple {
    @apply text-white text-base rounded-md flex items-center justify-center h-11;
    background: linear-gradient(360deg, #4d4bda 0%, #7270f8 100%);
    box-shadow: 0px 0px 10px 0px rgba(252, 192, 84, 0.3);
  }
}

body {
  background-color: #eef3f9;
}
